<section class="step-wizard">
    <ul class="step-wizard-list ">
      <li class="step-wizard-item ">
        <span class="progress-count">1</span> 
        <span class="progress-label">Sponsor Detail</span>
      </li>
      <li class="step-wizard-item ">
        <span class="progress-count">2</span> 
        <span class="progress-label">Member Detail</span>
      </li>
      <li class="step-wizard-item current-item">
        <span class="progress-count">3</span> 
        <span class="progress-label">Health Declaration</span>
      </li>
      <li class="step-wizard-item ">
        <span class="progress-count">4</span> 
        <span class="progress-label">Payment</span>
      </li>
      <li class="step-wizard-item">
        <span class="progress-count">5</span> 
        <span class="progress-label">Success</span>
      </li>
    </ul>
  </section>